html,body
	{
		margin: 0px;
		background-size: cover;
		height: 100%;
	}
	
	.zoomin img#one { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 0; left: 0; height: 30%; width: 30%; }
	.zoomin img#one:hover { z-index: 10; width: 60%; height: 50%;transition-delay: 0.5s; }

	.zoomin img#two { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 30%; left: 0; height: 65%; width: 30%; }
	.zoomin img#two:hover { z-index: 10; width: 50%; height: 90%; transition-delay: 0.5s;}

	.zoomin img#three { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 95%; left: 0; height: 60%; width: 60%; }
	.zoomin img#three:hover { z-index: 6; top: 75%; left: 0; width: 90%; height: 90%; transition-delay: 0.5s;}

	.zoomin img#four { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 0; left: 30%; height: 39%; width: 45%; }
	.zoomin img#four:hover { z-index: 6; top: 0; left: 20%; width: 70%; height: 60%; transition-delay: 0.5s;}

	.zoomin img#five { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 39%; left: 30%; height: 56%; width: 45%; }
	.zoomin img#five:hover { z-index: 6; top: 30%; left: 20%; width: 70%; height: 75%; transition-delay: 0.5s;}

	.zoomin img#six { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 95%; left: 60%; height: 60%; width: 40%; }
	.zoomin img#six:hover { z-index: 6; top: 90%; left: 30%; width: 70%; height: 75%; transition-delay: 0.5s;}

	.zoomin img#seven { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 0%; left: 75%; height: 65%; width: 25%; }
	.zoomin img#seven:hover { z-index: 6; top: 0%; left: 65%; width: 35%; height: 80%; transition-delay: 0.5s;}

	.zoomin img#eight { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 65%; left: 75%; height: 30%; width: 25%; }
	.zoomin img#eight:hover { z-index: 6; top: 55%; left: 60%; width: 40%; height: 50%; transition-delay: 0.5s;}

	.zoomin img#nine { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 155%; left: 0%; height: 75%; width: 65%; }
	.zoomin img#nine:hover { z-index: 6; top: 145%; left: 0%; width: 80%; height: 95%; transition-delay: 0.5s;}
	
	.zoomin img#tena { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 155%; left:65%; height: 35%; width: 35%; }
	.zoomin img#tena:hover { z-index: 6; top: 145%; left: 30%; width: 70%; height: 95%; transition-delay: 0.5s;}

	.zoomin img#tenb { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 190%; left:65%; height: 40%; width: 35%; }
	.zoomin img#tenb:hover { z-index: 6; top: 145%; left: 30%; width: 70%; height: 95%; transition-delay: 0.5s;}


	.zoomin img#eleven { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 230%; left:0%; height: 45%; width: 28%; }
	.zoomin img#eleven:hover { z-index: 6; top: 205%; left: 0%; width: 48%; height: 70%; transition-delay: 0.5s;}

	.zoomin img#twelve { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 230%; left:28%; height: 45%; width: 36%; }
	.zoomin img#twelve:hover { z-index: 6; top: 205%; left: 22%; width: 48%; height: 70%; transition-delay: 0.5s;}

	.zoomin img#thirteen{ -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 230%; left:64%; height: 45%; width: 36%; }
	.zoomin img#thirteen:hover { z-index: 6; top: 205%; left: 50%; width: 50%; height: 70%; transition-delay: 0.5s; }

	.zoomin img#fourteen { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 275%; left:0%; height: 45%; width: 37%; }
	.zoomin img#fourteen:hover { z-index: 6; top: 250%; left: 0%; width: 60%; height: 70%; transition-delay: 0.5s; }

	.zoomin img#fifteen{ -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 275%; left:37%; height: 45%; width: 33%; }
	.zoomin img#fifteen:hover { z-index: 6; top: 250%; left: 30%; width: 52%; height: 70%; transition-delay: 0.5s;}
	
	.zoomin img#sixteen { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 275%; left:70%; height: 45%; width: 30%; }
	.zoomin img#sixteen:hover { z-index: 6; top: 250%; left: 50%; width: 50%; height: 70%; transition-delay: 0.5s;}
	
	.zoomin img#seventeen { -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 320%; left:0%; height: 50%; width: 50%; }
	.zoomin img#seventeen:hover { z-index: 6; top: 310%; left: 0%; width: 70%; height: 60%; transition-delay: 0.5s; }

	.zoomin img#eighteen{ -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; position: absolute; top: 320%; left:50%; height: 50%; width: 50%; }
	.zoomin img#eighteen:hover { z-index: 6; top: 300%; left: 30%; width: 70%; height: 70%; transition-delay: 0.5s;}
	
	.lastpic
	{
		position: absolute;
		background-attachment: fixed;
		background-image: url('Gallery/FB_IMG_1451208257505.jpg');
		height: 50%;
		width: 100%;
		background-size: cover;
		top: 370%;
	}

	a
	{
		position: absolute;
		left: 26%;
		top: 30%;
		text-align: center;
		font-size: 10vh;
		opacity: 0.5;
		color: white; 
		font-family: 'Marcellus SC', serif;
	}