html, body{
	margin: 0px;
	height: 100%;
	max-width: 100%;
}


*{
	box-sizing: border-box;
}	

#headertext
{
	display: flex;
	width: 100%;
	height: 20vh;
	border: 1vh solid black;
	position: absolute;
}


header
{
	position: relative;
	left: 15vw;
	top: 5vh;
	font-size: 4vw;
	font-family: 'Marcellus SC', serif;
}

.Interests
{
	display: flex;
	background-color: rgba(0,0,0,0);
	position: absolute;
	height: 100%;
}
	
img{
	top:60%;
	position: absolute;
	left: 40%;
	display: none;
	width: 20%;
	max-height: 35%;
}


#one{

	font-family: 'Marcellus SC', serif;
	width: 15vw;
	position: absolute;
	top: 25vh;
	border: 0.2vh solid black;
	color: black;
	left: 9vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;	
	transition: all 0.5s ease;
}

#two{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 25vh;
	border: 0.2vh solid black;
	color: black;
	left: 26vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;	
	transition: all 0.5s ease;
}

#three
{
font-family: 'Fauna One', serif;	
	width: 15vw;
	position: absolute;
	top: 25vh;
	border: 0.2vh solid black;
	color: black;
	left: 43vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}

#four
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 25vh;
	border: 0.2vh solid black;
	color: black;
	left: 60vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;	
	transition: all 0.5s ease;	
}

#five
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 25vh;
	border: 0.2vh solid black;
	color: black;
	left: 77vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}

#six
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 32vh;
	border: 0.2vh solid black;
	color: black;
	left: 6vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#seven
{
	
	font-family: 'Fauna One', serif;
	width: 18vw;
	position: absolute;
	top: 32vh;
	border: 0.2vh solid black;
	color: black;
	left: 23vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#eight
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 32vh;
	border: 0.2vh solid black;
	color: black;
	left: 43vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#nine
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 32vh;
	border: 0.2vh solid black;
	color: black;
	left: 59vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#ten
{
	font-family: 'Fauna One', serif;
	width: 18vw;
	position: absolute;
	top: 32vh;
	border: 0.2vh solid black;
	color: black;
	left: 76vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#eleven
{
	font-family: 'Fauna One', serif;
	width: 45vw;
	position: absolute;
	top: 39vh;
	border: 0.2vh solid black;
	color: black;
	left: 9vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#twelve
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 39vh;
	border: 0.2vh solid black;
	color: black;
	left: 56vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#thirteen
{
	font-family: 'Fauna One', serif;
	width: 20vw;
	position: absolute;
	top: 39vh;
	border: 0.2vh solid black;
	color: black;
	left: 73vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#fourteen
{
	font-family: 'Fauna One', serif;
	width: 45vw;
	position: absolute;
	top: 46vh;
	border: 0.2vh solid black;
	color: black;
	left: 8vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#fifteen
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 46vh;
	border: 0.2vh solid black;
	color: black;
	left: 55vw;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 3vh;		
	transition: all 0.5s ease;
}
#sixteen
{
	font-family: 'Fauna One', serif;
	width: 4vw;
	position: absolute;
	top: 46vh;
	border-radius: 3vh;
	border: 0.2vh solid black;
	color: black;
	left: 71vw;
	font-size: 1.5vw;
	text-align: center;
	transition: all 0.5s ease;
}
#seventeen
{
	font-family: 'Fauna One', serif;
	width: 15vw;
	position: absolute;
	top: 46vh;
	border-radius: 3vh;
	border: 0.2vh solid black;
	color: black;
	left: 76vw;
	font-size: 1.5vw;
	text-align: center;
	transition: all 0.5s ease;
}

#eighteen
{
	font-family: 'Fauna One', serif;
	width: 45vw;
	position: absolute;
	top: 52vh;
	border-radius: 3vh;
	border: 0.2vh solid black;
	color: black;
	left: 13vw;
	font-size: 1.5vw;
	text-align: center;
	transition: all 0.5s ease;
}
#nineteen
{
	font-family: 'Fauna One', serif;
	width: 25vw;
	position: absolute;
	top: 52vh;
	border-radius: 3vh;
	border: 0.2vh solid black;
	color: black;
	left: 60vw;
	font-size: 1.5vw;
	text-align: center;
	transition: all 0.5s ease;
}

img#ReturnToMain{
	width: 5vw;
	height: 5vw;
	left: 90vw;
	top: 87vh;
	display: block;
	position: absolute;
}